[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
numpy = "*"
keras = "*"
tensorflow = {extras = ["and-cuda"], version = "~=2.18.0"}
torch = ">=2.1.0"
torchvision = ">=0.16.0"
jax = {extras = ["cpu"], version = "*"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
